'scopeName': 'source.my-language'
'name': 'MyLanguage'
'fileTypes': [
  'extension'
]
'patterns': [
  {
    'match': '\/\/.*$'
    'name': 'comment'
  }
  {
    'match': '\w+(?=\s*?\{)'
    'name': 'entity.name.function'
  }
  {
    'match': '\w+(?=\s*?\()'
    'name': 'entity.name.function'
  }
  {
    'match': '\=\>'
    'name': 'entity.name.function'
  }
  {
    'match': '^(?=\:)'
    'name': 'entity.name.type'
  }
  {
    'match': '[0-9]'
    'name': 'constant.numeric'
  }
  {
    'match': '#\S+'
    'name': 'entity.name.type'
  }
  {
    'match': '\w+(?=\.)'
    'name': 'entity.name.type'
  }
  {
    'match': '='
    'name': 'keyword.operator'
  }
  {
    'match': 'return|value'
    'name': 'keyword.control'
  }
  {
    'match': 'true|false|null'
    'name': 'constant.language'
  }
  {
    'match': 'this'
    'name': 'variable.language'
  }
]
